
.form__validacion-estado {
	/* position: absolute;
	right: 10px;
	bottom: 15px; */
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.form__grupo-correcto .form__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.form__grupo-incorrecto .form-label {
	color: #bb2929;
}

.form__grupo-incorrecto .form__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.form__grupo-incorrecto .form-input {
	border: 3px solid #bb2929;
}

