<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">

    <title>Actualizar Retiro</title>
</head>

<body style="background-color:rgb(250, 217, 5)">
    <nav class="navbar navbar-light bg-dark d-flex flex-row-reverse">
        <a class="navbar-brand text-light" href="./views/login.html">Iniciar sesion</a>
    </nav>
    <div class="d-flex justify-content-center m-3">
        <img style="" src="https://www.dinoonline.com.ar/super/images/logo-super-mami.png" alt="" srcset="">
    </div>
    <div class="d-flex justify-content-center mt-5">
        <h2>Actualizar Retiro</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-6 ">
                <div class=" ">
                    <form class="d-flex justify-content-center align-items-center flex-column mt-5">
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Usuario</label>
                            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
                        </div>
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nº Orden</label>
                            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
                        </div>
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Sucursal</label>
                            <select class="form-control">
                                <option value="value1" selected>- Seleccione la Sucursal -</option>
                                <option value="value2">Value 2</option>
                                <option value="value3">Value 3</option>
                                <option value="value3">Value 3</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Fecha Entrega</label>
                            <input type="date" class="form-control" id="idUsuario" aria-describedby="emailHelp">
                        </div>
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Estado</label>
                            <select class="form-control">
                                <option value="value1" selected>- Seleccione el Estado -</option>
                                <option value="value2">Value 2</option>
                                <option value="value3">Value 3</option>
                                <option value="value3">Value 3</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary col-6">Actualizar Retiro</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <form class="d-flex justify-content-center align-items-center flex-column mt-5">
                    <table class="table table-dark table-stripe table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Información Orden de Entrega</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Apellido</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Fecha</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Sucursal</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Es Propietario (owner)</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Peso</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Volumen</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Cantidad Bolsas</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </form>
        </div>
    </div>
</body>

</html>