<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <link rel="stylesheet" href="../css/validationStyles.css">
    <script src="https://kit.fontawesome.com/c55fb45212.js" crossorigin="anonymous"></script>
    <title>Registrar Empresas</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./home.html">
                <i style="font-size:30px" class="text-white fas fa-home"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-nav m-1" >
                    <a class="nav-item nav-link" href="./shippingRegister.html">Registrar Envio</a>
                    <a class="nav-item nav-link" href="./updateSending.html">Actualizar Envío</a>
                    <a class="nav-item nav-link" href="./withdrawalRegister.html">Registrar Retiro</a>
                    <a class="nav-item nav-link" href="./updateWithdrawal.html">Actualizar Retiro</a>
                    <a class="nav-item nav-link" href="reports.html">Reportes de Envios/Retiros</a>
                    <a class="nav-item nav-link" href="./companyReports.html">Reportes de Empresas</a>
                    <a class="nav-item nav-link active disabled" href="./companyRegistration.html">Registro de Empresas</a>
                </div>
            </div>
        </div>
    </nav>

    <div style="background-color:rgb(250, 217, 5);" class="d-flex justify-content-center shadow-lg p-3 mb-5 rounded">
        <img class="col-lg-4 col-8" src="https://www.dinoonline.com.ar/super/images/logo-super-mami.png">
    </div>
    <div class="d-flex justify-content-center mt-5">
        <h2>Registrar Empresa</h2>
    </div>
    <form class="d-flex justify-content-center align-items-center flex-column mt-5">
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Razon Social</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Calle</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Numero</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Tipo de Envio</label>
            <select class="form-control">
                <option value="value1" selected>- Seleccione el Tipo -</option>
                <option value="value2">Value 2</option>
                <option value="value3">Value 3</option>
                <option value="value3">Value 3</option>
                <option value="value3">Value 3</option>
            </select>
        </div>
        <div class="mb-3 col-5">
            <label for="exampleInputPassword1" class="form-label">Localidad</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 col-5">
            <label for="exampleInputPassword1" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 col-5">
            <label for="exampleInputPassword1" class="form-label">C.U.I.T</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary col-2">Registrar</button>
    </form>
</body>

</html>