<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/c55fb45212.js" crossorigin="anonymous"></script>

    <title>Home</title>
</head>

<body style="height: 100vh">
    <nav class="container-fluid navbar navbar-light bg-dark d-flex flex-row-reverse">
        <a  class="navbar-brand" id="logOut" href="../joinPage.html"><i style="font-size: 30px;" class="text-white fas fa-sign-out-alt"></i></a>
        <a class="navbar-brand" href="./home.html">
            <i style="font-size:30px" class="text-white fas fa-home"></i>
        </a>
    </nav>
    <div>
        <div style="background-color:rgb(250, 217, 5);"
            class="d-flex justify-content-center shadow-lg p-3 mb-5 rounded">
            <img class="col-lg-4 col-8" src="https://www.dinoonline.com.ar/super/images/logo-super-mami.png">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <h2>HOME</h2>
        </div>
    </div>
    <div class="container mt-3" >
        <div class="card-group">
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="/TPI-MSI-Grupo5/FrontEnd/images/pngegg (2).png"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="updateSending.html"
                        class="btn btn-outline-dark d-grid gap-2 col-lg-12 col-sm-6 col-md-6 mx-auto">ENVÍOS</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="/TPI-MSI-Grupo5/FrontEnd/images/REtiros 2.png"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="updateWithdrawal.html"
                        class="btn btn-outline-dark d-grid gap-2 col-lg-12 col-sm-6 col-md-6 mx-auto">RETIROS</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="/TPI-MSI-Grupo5/FrontEnd/images/Empresas.png"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="#"
                        class="btn btn-outline-dark d-grid gap-2 col-lg-12 col-sm-6 col-md-6 mx-auto">EMPRESAS</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="/TPI-MSI-Grupo5/FrontEnd/images/Reportes.png"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="#"
                        class="btn btn-outline-dark d-grid gap-2 col-lg-12 col-sm-6 col-md-6 mx-auto">REPORTES</a>
                </div>
            </div>

        </div>

    </div>
</body>

</html>