<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">

    <title>Register</title>
</head>

<body style="background-color:rgb(250, 217, 5)">
    <nav class="navbar navbar-light bg-dark d-flex flex-row-reverse">
        <a class="navbar-brand text-light" href="./views/login.html">Iniciar sesion</a>
    </nav>
    <div class="container">
        <div class="d-flex justify-content-center col-12">
            <img style="" src="https://www.dinoonline.com.ar/super/images/logo-super-mami.png" alt="" srcset="">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <h2>HOME</h2>
        </div>
    </div>
    <div class="container">
        <form class="d-flex justify-content-center align-items-center flex-column mt-5">
            <div class="col-5 mb-3">
                <button onclick="window.location.href='registrarEnvios.html'" type="button"
                    class="btn btn-outline-danger btn-lg">Registrar Envío</button>
            </div>
            <div class="col-5 mb-3">
                <button onclick="window.location.href='actualizarEnvio.html'" type="button"
                    class="btn btn-outline-danger btn-lg">Actualizar Envío</button>
            </div>
            <div class="col-5 mb-3">
                <button onclick="window.location.href='registrarRetiro.html'" type="button"
                    class="btn btn-outline-danger btn-lg">Registrar Retiro</button>
            </div>
            <div class="col-5 mb-3">
                <button onclick="window.location.href='actualizarRetiro.html'" type="button"
                    class="btn btn-outline-danger btn-lg">Actualizar Retiro</button>
            </div>
            <div class="col-5 mb-3">
                <button onclick="window.location.href='reportes.html'" type="button"
                    class="btn btn-outline-danger btn-lg" >Reportes de Envíos/Retiros</button>
            </div>
            <div class="col-5 mb-3">
                <imput onclick="window.location.href='reportesEmpresa.html'" type="button"
                    class="btn btn-outline-danger btn-lg" >Reportes de Empresas</imput>
            </div>
        </form>
    </div>
</body>

</html>