<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/c55fb45212.js" crossorigin="anonymous"></script>

    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mx-3" href="./home.html">
                <i style="font-size:30px" class="text-white fas fa-home"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse row navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-nav d-flex justify-content-between">
                   
                    <label class="text-center align-self-center mb-3 mb-lg-0 mx-1 text-light border-bottom"
                        id="userEmail"></label>
                    <button id="closeSesion" onclick="goLogOut()" class="btn btn-outline-warning text-light mx-3">Cerrar
                        Sesion</button>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <div style="background-color:rgb(250, 217, 5);"
            class="d-flex justify-content-center shadow-lg p-3 mb-5 rounded">
            <img class="col-lg-4 col-8" src="https://www.dinoonline.com.ar/super/images/logo-super-mami.png">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <h2>HOME</h2>
        </div>
    </div>
    <div class="container">
        <form class="d-flex justify-content-center align-items-center flex-column mt-5">
            <div class="col-8 mb-3 d-flex justify-content-center align-items-center">
                <button onclick="window.location.href='shippingRegister.html'" type="button"
                    class="btn btn-outline-danger btn-lg col-10">Registrar Envío</button>
            </div>
            <div class="col-8 mb-3 d-flex justify-content-center align-items-center">
                <button onclick="window.location.href='updateSending.html'" type="button"
                    class="btn btn-outline-danger btn-lg col-10">Actualizar Envío</button>
            </div>
            <div class="col-8 mb-3 d-flex justify-content-center align-items-center">
                <button onclick="window.location.href='withdrawalRegister.html'" type="button"
                    class="btn btn-outline-danger btn-lg col-10">Registrar Retiro</button>
            </div>
            <div class="col-8 mb-3 d-flex justify-content-center align-items-center">
                <button onclick="window.location.href='updateWithdrawal.html'" type="button"
                    class="btn btn-outline-danger btn-lg col-10">Actualizar Retiro</button>
            </div>
            <div class="col-8 mb-3 d-flex justify-content-center align-items-center">
                <button onclick="window.location.href='reports.html'" type="button"
                    class="btn btn-outline-danger btn-lg col-10">Reportes de Envíos/Retiros</button>
            </div>
            <div class="col-8 mb-3 d-flex justify-content-center align-items-center">
                <imput onclick="window.location.href='companyRegistration.html'" type="button"
                    class="btn btn-outline-danger btn-lg col-10">Registro de Empresas</imput>
            </div>
            <div class="col-8 mb-3 d-flex justify-content-center align-items-center">
                <imput onclick="window.location.href='companyReports.html'" type="button"
                    class="btn btn-outline-danger btn-lg col-10">Reportes de Empresas</imput>
            </div>
        </form>
    </div>
</body>

</html>