<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">

    <title>Register</title>
</head>

<body style="background-color:rgb(250, 217, 5)">
    <nav class="navbar navbar-light bg-dark d-flex flex-row-reverse">
        <a class="navbar-brand text-light" href="./views/login.html">Iniciar sesion</a>
    </nav>

    <div class="d-flex justify-content-center m-3">
        <img 
            src="https://www.dinoonline.com.ar/super/images/logo-super-mami.png"
            alt="" srcset="">
    </div>
    <div class="d-flex justify-content-center mt-5">
        <h2>Registrar Envio</h2>
    </div>
    <form class="d-flex justify-content-center align-items-center flex-column mt-5">
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Nº de Pedido</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Monto</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Empresa</label>
            <select class="form-control">
                <option value="value1" selected>- Seleccione la Empresa -</option>
                <option value="value2">Value 2</option>
                <option value="value3">Value 3</option>
                <option value="value3">Value 3</option>
                <option value="value3">Value 3</option>
            </select>
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Horario</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Día</label>
            <input type="date" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Apellido</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Dirección</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Telefono</label>
            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
        </div>
        <div class="col-5 mb-3">
            <div>
                <label for="exampleInputEmail1" class="form-label">¿Es Titular?</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">No</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary col-2">Registrar</button>
      
    </form>
</body>

</html>