<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/c55fb45212.js" crossorigin="anonymous"></script>

    <title>Actualizar Envio</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./home.html">
                <i style="font-size:30px" class="text-white fas fa-home"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-nav m-1" >
                    <a class="nav-item nav-link" href="./shippingRegister.html">Registrar Envio</a>
                    <a class="nav-item nav-link active disabled" href="./updateSending.html">Actualizar Envío</a>
                    <a class="nav-item nav-link" href="./withdrawalRegister.html">Registrar Retiro</a>
                    <a class="nav-item nav-link" href="./updateWithdrawal.html">Actualizar Retiro</a>
                    <a class="nav-item nav-link" href="reports.html">Reportes de Envios/Retiros</a>
                    <a class="nav-item nav-link" href="./companyReports.html">Reportes de Empresas</a>
                    <a class="nav-item nav-link" href="./companyRegistration.html">Registro de Empresas</a>
                </div>
            </div>
        </div>
    </nav>

    <div style="background-color:rgb(250, 217, 5);" class="d-flex justify-content-center shadow-lg p-3 mb-5 rounded">
        <img class="col-lg-4 col-8" src="https://www.dinoonline.com.ar/super/images/logo-super-mami.png">
    </div>
    <div class="d-flex justify-content-center mt-5">
        <h2>Actualizar Envío</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <div class=" ">
                    <form class="d-flex justify-content-center align-items-center flex-column mt-5">
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Usuario</label>
                            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
                        </div>
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nº Orden</label>
                            <input type="email" class="form-control" id="idUsuario" aria-describedby="emailHelp">
                        </div>
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Empresa</label>
                            <select class="form-control">
                                <option value="value1" selected>- Seleccione la Empresa -</option>
                                <option value="value2">Value 2</option>
                                <option value="value3">Value 3</option>
                                <option value="value3">Value 3</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Fecha Envío</label>
                            <input type="date" class="form-control" id="idUsuario" aria-describedby="emailHelp">
                        </div>
                        <div class="col-5 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Estado del Envío</label>
                            <select class="form-control">
                                <option value="value1" selected>- Seleccione la Estado -</option>
                                <option value="value2">Value 2</option>
                                <option value="value3">Value 3</option>
                                <option value="value3">Value 3</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary col-6">Actualizar Envío</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <form class="d-flex justify-content-center align-items-center flex-column mt-5">
                    <table class="table table-dark table-stripe table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Información Orden de Entrega</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Apellido</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Fecha</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Barrio</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Es Propietario (owner)</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Precio del Envío</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Es Gratis?</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Peso</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Volumen</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Cantidad Bolsas</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </form>
        </div>
    </div>
</body>

</html>